@model GuestbookEntry

<h2>Add New Guestbook Entry</h2>

<form asp-action="Create">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>
    <div>
        <label asp-for="Message"></label>
        <textarea asp-for="Message"></textarea>
    </div>
    <button type="submit">Submit</button>
</form>
